
Game/ByteJam-OleMcCoders/Library/PackageCache/com.unity.xr.googlevr.ios@1.18.5/Plugins/iOS/GVRSDK/Pods/GVRSDK/Resources/GoogleKitDialogsStrings.bundle/Resources/sr.lproj/GoogleKitDialogsStrings.strings.meta
*.meta
